<main>
  <div class="container">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5"  style="background: #42caff">

      <!-- Navbar brand -->
      <span class="navbar-brand">Categories:</span>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" >All
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Shirts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Sport wears</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Outwears</a>
          </li>
        </ul>
        <!-- Links -->
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
      <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->

    <!--Section: Products v.3-->
    <section class="text-center mb-4">
      <!--Grid row-->
      <div class="row wow fadeIn" >
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let prod of productPage"  >
        <app-card-product [product]="prod" productId="{{prod.productId}}"></app-card-product>
        </div>
      </div>
      <!--Grid row-->


    </section>
    <!--Section: Products v.3-->

    <!--Pagination-->
    <nav aria-label="...">
      <ul class="pagination justify-content-end mb-0">
        <li class="page-item">
          <a class="page-link" tabindex="-1"  (click)="firstPage()">
            <i class="fas fa-angle-double-left"></i>
            <span class="sr-only">FistPage</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link"  tabindex="-1" (click)="previousPage()">
            <i class="fas fa-angle-left"></i>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item " *ngFor="let item of pageItem; let i=index;">
          <button class="page-link" [ngClass]="{actives:i+1===page}"
                  (click)="setPage(i+1)"
          >{{i+1}}</button>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()">
            <i class="fas fa-angle-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" tabindex="-1"  (click)="lastPage()">
            <i class="fas fa-angle-double-right"></i>
            <span class="sr-only">LastPage</span>
          </a>
        </li>
      </ul>
    </nav>
    <!--Pagination-->

  </div>
</main>
